@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap");

/* Common style */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

#grad {
  background-image: linear-gradient(#eb01a5, #d13531) !important;
}
.btn-chose {
  background-color: #f5dae9 !important;
}
.fa-star-half-alt,
.fa-star {
  color: goldenrod;
}
.alert {
  position: absolute !important;
  margin-left: 300px;
  border-left: 8px solid blue !important;
  color: blue;
  font-size: 15px !important;
}
.heading {
  font-size: 30px !important;
  font-weight: bold !important;
}
.nav-item {
  font-weight: bold !important;
}
.color {
  color: red;
}
